@import url("https://cdn.uadigital.arizona.edu/lib/ua-brand-fonts/v1.0.1/milo.min.css");
/*
Milo from Schyler Quentel: https://fontsinuse.com/uses/8924/schuyler-quentel-esv-bible
UA info: https://brand.arizona.edu/how-add-milo-your-website
UA info: http://uadigital.arizona.edu/ua-bootstrap/fonts.html
*/

body { /*https://blog.koenvangilst.nl/brutalist-css/*/
    font-family: MiloSerifWeb, MiloWeb, Georgia, TimesNewRoman, "Times New Roman", Times, Baskerville, serif;
    font-size: 16px;
    line-height: 1.3;
    max-width: 50rem;
    padding: 2rem;
    margin: auto;
    color: #444444;
    font-weight: 600;
}

.dark-mode {
  background-color: black;
  color: darkgray;
}

.firstcharacter {
  color: #7B2E2B;
  float: left;
  font-family: MiloSerifWeb, MiloWeb, Georgia, TimesNewRoman, "Times New Roman", Times, Baskerville, serif;
  font-size: 50px;
  line-height: 40px;
  padding-top: 0px;
  padding-right: 5px;
  padding-left: 3px;
}

a {
    color: #7B2E2B;
    text-decoration: none;
    /*border-bottom: dotted 1px;*/
}

a:hover {
    background: whitesmoke;
    border-radius: 0.1rem;
    border-bottom: dotted 1px;
}


h1 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 3px;
    text-align: center;
}

h1.line {
    text-decoration: underline 8px #D2A054;
    text-decoration-skip-ink: none;
    border-bottom: none;
    text-align: center;
}

h2 {
    color: #7B2E2B;
    text-align: left;
    font-variant-caps: small-caps;
    font-weight: bold;
    font-size: 1.5em;
    margin: 1em 0 -0.8em 0;
}

h2.line {
    text-decoration: underline 5px #D2A054;
    text-decoration-skip-ink: none;
    text-align: center;
}

img.profile {
    /*border-radius: 50%;*/
    box-shadow: 7px 7px 0px 0px #D2A054;
}

hr {
    border: 0;
    border-bottom: solid 1px rgba(210, 215, 217, 0.75);
    margin: 2em 0;
}

br { /*to fix extra spacing of indented bullets*/
    content: "";
    margin: 2em;
    display: block;
    font-size: 5%;
}

blockquote {
    /*background: whitesmoke;*/
    border: 1px solid #ccc;
    border-left: 4px solid #ccc;
    border-radius: 0.1rem;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote p {
    display: inline;
}

th {
    background-color: #ccc;
    padding: .4rem;
}

td {
    padding: .3rem;
}

tr:nth-child(even){background-color: whitesmoke;}
tr:hover {background-color: #ddd;}

ul.cols {
    columns: 4;
}

.ant {
    font-family: MiloSerifWeb, Georgia, TimesNewRoman, "Times New Roman", Times, Baskerville, serif;
    font-weight: 400;
    text-align: justify;
}

.ant:before {
    font-family: MiloWeb, MiloSerifWeb, Georgia, TimesNewRoman, "Times New Roman", Times, Baskerville, serif;
    color: #7B2E2B;
    font-weight: 700;
    content: "Ant. "
}

.verse {
    font-family: MiloWeb, MiloSerifWeb, Georgia, TimesNewRoman, "Times New Roman", Times, Baskerville, serif;
    color: #7B2E2B;
    font-weight: 700;
}

.subtitle {
    font-family: MiloSerifWeb, Georgia, TimesNewRoman, "Times New Roman", Times, Baskerville, serif;
    font-size: 0.9em;
    color: #7B2E2B;
}

.quote {
    font-family: MiloWeb, MiloSerifWeb, Georgia, TimesNewRoman, "Times New Roman", Times, Baskerville, serif;
    font-size: 0.9em;
    font-style: italic;
}

.quote_red {
    font-family: MiloWeb, MiloSerifWeb, Georgia, TimesNewRoman, "Times New Roman", Times, Baskerville, serif;
    font-size: 0.9em;
    font-style: italic;
    color: #7B2E2B;
}

.detail {
    font-family: MiloWeb, MiloSerifWeb, Georgia, TimesNewRoman, "Times New Roman", Times, Baskerville, serif;
    font-size: 0.7em;
    color: gray;
    font-style: italic;
}

.gloria {
    font-style: italic;
    font-weight: 400;
    text-align: justify;
}


/*!* Button *!*/

/*input[type="submit"],*/
/*input[type="reset"],*/
/*input[type="button"],*/
/*button,*/
/*.button {*/
/*    border-radius: 0.375em;*/
/*    display: inline-block;*/
/*    font-size: 0.8em;*/
/*    font-weight: 700;*/
/*    height: 3.5em;*/
/*    letter-spacing: 0.075em;*/
/*    line-height: 3.5em;*/
/*    padding: 0 2.25em;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*    white-space: nowrap;*/
/*    background-color: #5B7894;*/
/*    color: #ffffff !important;*/
/*}*/

/*.button:hover {*/
/*    border-radius: 0.375em;*/
/*    background-color: #D2A054;*/
/*    box-shadow: 5px 8px 8px 0 rgba(0, 0, 0, 0.2), 5px 6px 20px 0 rgba(0, 0, 0, 0.19);*/
/*    border-bottom: none;*/
/*}*/

/* Button */

button,
.button {
    background-color: darkgray;
    border-radius: 1em;
    border-width: 0
}





/* Main */

#main {
flex-grow: 1;
flex-shrink: 1;
width: 100%;
}

#main > .inner {
padding: 0 0em 0.1em 0em;
margin: 0 auto;
max-width: 110em;
}

#main > .inner > section {
padding: 6em 0 4em 0 ;
border-top: solid 2px rgba(210, 215, 217, 0.75);
}

#main > .inner > section:first-of-type {
border-top: 0 !important;
}

@media screen and (max-width: 1680px) {

#main > .inner {
    padding: 0 5em 0.1em 5em ;
}

#main > .inner > section {
    padding: 5em 0 3em 0 ;
}

}

@media screen and (max-width: 1280px) {

#main > .inner {
    padding: 0 4em 0.1em 4em ;
}

#main > .inner > section {
    padding: 4em 0 2em 0 ;
}

}

@media screen and (max-width: 736px) {

#main > .inner {
    padding: 0 0.1em 0.1em 0.1em;
    /*padding: 0 2em 0.1em 2em;*/
}

#main > .inner > section {
    padding: 3em 0 1em 0 ;
}

}





/* Header */

header {
    border-bottom: solid 5px #63666a;
    overflow: hidden;
    text-align: center;
    font-variant-caps: small-caps;
    line-height: 0;
    font-weight: bold;
    font-size: 1.9em;
    margin: 0 0 -1.5em 0;
}


@media screen and (max-width: 500px) {
  header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  header-right {
    float: none;
  }
}


/* Footer */

#footer .copyright {
    color: #9fa3a6;
    font-size: 0.9em;
    padding: 0em 0.1em 0.1em 0.1em;
}

#footer .img {
    border-radius: 5em;
}


#footer .copyright a {
    color: inherit;
    border-bottom: dotted 1px;
}

#footer .copyright a:hover {
    color: #5B7894;
    background:whitesmoke;
    text-decoration: none;
}